.main
    height 100vh
    width 100vw
    background url("https://wxapp.lyancoffee.com/common/bg.png")
    background-size: 100%
    .logo-contant
        padding-top: 107px
        width 100%
        display flex
        flex-direction: column
        align-items: center
        .logo
            height 83px
            width 52.1px
        .logo-text
            margin-top: 15px
            height 11px
            width 116px
    .btn-contant
        padding-top: 46px
        display: flex
        justify-content: center
        .btn
            height 50px
            width 320px
            border-radius: 9px
            background-color: #65bb25
            color: #ffffff
            align-items: center
            display: flex
            justify-content: center



        
